/* CSS Module for ScrollMenu */

/* Styling for div */
.div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(122, 122, 122);
    border-radius: 4px;
    padding: 10px 0;
    margin: 0 5% 10px;
}